 <div class="row m-4 border border-dark">
               <div class="col-3 text-center m-3">
                   <span class="h3">Add Organization</span>
               </div>
               <div class="col-7 text-center m-3">
                   <form action="addOrganization" method="POST">
                       <div class="form-group row">
                           <label for="name" class="col-3 col-form-label">Name</label>
                           <div class="col-9">
                               <input type="text" name="name" id="name" class="form-control"/>
                           </div>
                       </div>
                       <div class="form-group row">
                           <label for="description" class="col-3 col-form-label">Description</label>
                           <div class="col-9">
                               <input type="text" name="description" id="description" class="form-control"/>
                           </div>
                       </div>
                       <div class="form-group row">
                           <label for="address" class="col-3 col-form-label">Address</label>
                           <div class="col-9">
                               <input type="text" name="address" id="address" class="form-control"/>
                           </div>
                       </div>
                       <div class="form-group row">
                           <label for="contactInfo" class="col-3 col-form-label">contact Info</label>
                           <div class="col-9">
                               <input type="text" name="contactInfo" id="contactInfo" class="form-control"/>
                           </div>
                       </div>
                       <button type="submit" class="btn btn-primary">Add Organization</button>
                   </form>
               </div>
           </div>